.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.modal-content {
    background: #0A0C37;
    padding: 2rem;
    border-radius: 16px;
    max-width: 850px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    color: white;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
}

.modal-content::-webkit-scrollbar {
    width: 6px;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

